<!--header設定-->
<%= render "shared/head" %>

<!--flash設定-->
<%= render "shared/flash" %>

<!--Main-->
<div class="background-black">
  <div class="container general-form">
    <%= render "public/contacts/tips/form" %>
  </div>
</div>