<!--header設定-->
<%= render "shared/head" %>

<!--flash設定-->
<%= render "shared/flash" %>

<!--menu設定-->
<%= render "public/companies/tips/menu" %>

<!--Main-->
<div class="background-orange">
  <div class="container general-form">
    <%= render "public/events/tips/form", title: "新規登録", path: public_company_events_path(@set_company.id) %>
  </div>
</div>