@import "colors";
@import "dimensions";

.background-orange {
  background-color: rgba(249, 160, 63, 0.2);
  margin: 0;
  padding: 30px 0;
}

.background-black {
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 30px 0;
}

.general-form {
  width: 40vw;
  min-width: 300px;
  margin: 20px auto;
  padding: 40px;
  border: solid 4px #39393A;
  border-radius: 10px;
  background-color: #FFF;

  .form-title {
    text-align: center;

    &-name {
      font-weight: bold;
      margin: 0;
    }
  }

  .form-main {
    padding: 10px;
    display: flex;
    justify-content: center;

    form {
      width: 100%;
    }


    .label {
      font-weight: bold;
      margin-bottom: 2px;
    }

    .field {
      + .field {
        margin-top: 18px;
      }
    }

    input[type="text"] {
      width: 100%;
      padding: 4px 8px;
    }

    input[type="file"] {
      width: 100%;
      padding: 4px 8px;
    }

    select {
      width: 100%;
      padding: 4px 8px;
    }

    textarea {
      width: 100%;
      padding: 4px 8px;
      row: 10;
    }

    &-submit {
      display: flex;
      justify-content: center;

      .btn {
        margin-top: 16px;
        font-weight: bold;
      }
    }

    .field_with_errors {
      display: inline;
      padding: 0;
      label {color: red}
      input {background-color: pink}
    }

    .error-message {
      color: red;
      font-size: $small;
      padding: 0 $very_wide;
      width: 100%;
    }


  }

  .other-link {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .table {
    margin: 16px 0;
  }

  .confirm-btn {
    border: none;
  }
}



.lab-edit {

  &-form {
    display: flex;
    padding-bottom: 8px;

    .form-title-name {
      margin-right: 16px;
    }
  }

  &-title {
    font-weight: bold;
    padding: 16px 0;
  }

  &-images {
    display: flex;
    flex-wrap: wrap;
  }

  &-image {
      margin-bottom: 8px;
    }

  .contents {
    text-align: center;

    .btn {
      margin-bottom: 16px;
    }
  }

  textarea {
    width: 100%;
  }
}

.modal-body {
  input[type="text"] {
    width: 100%;
    padding: 4px 8px;
    margin-bottom: 4px;
  }

  input[type="date"] {
    width: 100%;
    padding: 4px 8px;
  }

  input[type="checkbox"] {
    margin: 12px 8px;
    padding: 8px;
  }

  textarea {
    width: 100%;
    padding: 4px 8px;
    row: 10;
  }

    &-submit {
      display: flex;
      justify-content: center;
      margin-top: 16px;
      font-weight: bold;
    }

}

.search {
  .card {
    margin: 0;
  }
  .card-body {
    margin: 0;
    padding: 0;
  }
  .nav-tabs {
    padding: 16px 8px 0;
  }
  .nav-links {
    margin-right: 8px;
  }
  .s-form {
    padding: 0;
  }
  .nav-tabs {
    align-items: center;
  }
}