@import "colors";
@import "dimensions";

.underline {
  border-bottom: 1px solid #717171;
}

.show-title {
  padding-top: 40px;
}

.lab-nav {
  background-color: $light-blue;
  a {
    color: $gray;
  }
}

.lab-top-image {
 .swiper {
   max-height: 60vh;

   .swiper-slide {
     display: flex;
     justify-content: center;

      .swiper-image {
        min-height: 20vh;
        max-height: 60vh;
     }
   }
 }
}

.container-page {
  min-height: 70vh;

  .content-top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    .content-title {
      display: flex;

      &-name {
        font-weight: bold;
      }

      &-btn {
        margin-bottom: 8px;
      }

    }

    .content-new-link {
      .btn {
        font-weight: bold;
      }
    }
  }

  .content-main {
    width: 100%;
    &-text {
      word-break: break-all;
      // word-wrap: break-word;
    }

    &-figure {

      display: flex;
      justify-content: center;
    }

    &-images {
      display: flex;
      flex-wrap : wrap;
      
    }
  }


  .rowbox {
    padding: 16px;
  }

  .about {
    .lab-about {
      margin-top: 16px;
    }
  }
}

.content-link {
  display: flex;
  justify-content: space-between;
}