<div class="col-2 user-show-image">
  <% if @laboratory.profile_image.attached? %>
    <%= image_tag @laboratory.profile_image, class:"rounded img-raised"%>
  <% else %>
    <%= image_tag asset_path('no_image.jpg'), class:"rounded img-raised" %>
  <% end %>
</div>

<div class="col-9">
  <div class="profile-head">
  <h3>
    <%= @laboratory.name %>
    <% if @laboratory.official_mark_status %>
      <i class="fas fa-check-circle official_mark"></i>
    <% end %>
  </h3>
  <% if true %>
    <%= link_to "登録情報編集", public_root_path, class:"btn btn-primary"%>
  <% end %>
  </div>

  <table class="table">
    <tr>
      <th>メンバー数</th><td></td>
    </tr>
    
  </table>
</div>