<!--Community-->

    <!-- Swiper -->
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <!--slide 1-->
        <div class="swiper-slide">
          <%= image_tag asset_path('about-card1.jpg'), class:"rounded img-raised swiper-image" %>
        </div>

        <!--slide 2-->
        <div class="swiper-slide">
          <%= image_tag asset_path('header.jpg'), class:"rounded img-raised swiper-image" %>
        </div>

        <!--slide 3-->
        <div class="swiper-slide">
          <%= image_tag asset_path('about-card2.jpg'), class:"rounded img-raised swiper-image" %>
        </div>

        <!--slide 4-->
        <div class="swiper-slide">
          <%= image_tag asset_path('about-card3.jpg'), class:"rounded img-raised swiper-image" %>
        </div>

      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-pagination"></div>
    </div>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 1,
        spaceBetween: 30,
        autoplay: {
          delay: 5000,
          speed: 3000,
          disableOnInteraction: false,
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });
    </script>
