<div class="wrapper per-page">
  <!--Head-->
  <div class="page-head clear-filter" filter-color="blue">
    <div class="page-head-image" data-parallax="true" style="background-image:url('/assets/public/Top/header.jpg');">
    </div>
  </div>
</div>