<div id="favorite">
  <div>
    <h5>Bookmark：<%= Favorite.where(deliverable_type: "Paper", deliverable_id: paper.id).count %></h5>
  </div>
  <% if user_signed_in? && current_user.favorited_by?("Paper", paper.id) %>
    <%= link_to public_favorite_path(type: "Paper", id: paper.id), method: :delete, class:"favorite-link", remote: true do %>
      <i class="fas fa-2x fa-heart"></i>
    <% end %>
  <% else %>
    <%= link_to public_favorites_path(type: "Paper", id: paper.id), method: :post, class:"favorite-link", remote: true do %>
      <i class="far fa-2x fa-heart"></i>
    <% end %>
  <% end %>
</div>