<div class="col-12 user-presentations">
  <i class="fas fa-2x fa-chalkboard-teacher presentation-icon"></i>
  <h3>Presentation</h3>
</div>

<table class="col-12 table">
  <thead class="table-info">
    <tr>
      <th width="80%">Title</th> <th>date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>test title</td>
      <td>2021/09/05</td>
    </tr>
    <tr>
      <td>test title</td>
      <td>2021/09/05</td>
    </tr>
  </tbody>
</table>