<p>Dear LABONITY Administrator</p>

<p>パスワード再設定の依頼を受けたため、メールを送信しています。下のリンクからパスワードの再設定ができます。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>パスワード再設定の依頼をしていない場合、このメールを無視してください。</p>
<p>パスワードの再設定は、上のリンクから新しいパスワードを登録するまで完了しません。</p>


<p>─────────────────────────────────────────────────────────</p>
<p>※このメールは送信専用のアドレスより配信しております。</p>
<p>※恐れ入りますが返信はお控えください。</p>
<p>─────────────────────────────────────────────────────────</p>
<p>発行：LABONITY</p>
<p>このメールの無断転載を禁止します</p>
<p>Copyright 2021 Shuhei Nara</p>
<p>─────────────────────────────────────────────────────────</p>