<div class="wrapper index-page">
  <!--TopPage Header-->
  <div class="page-header clear-filter" filter-color="blue">
    <div class="page-header-image" data-parallax="true">
    </div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="h1-seo">LABONITY</h1>
        <div class="welcome-text">
          <h3>Let's connect with the world through your research.</h3>
        </div>
      </div>
    </div>
  </div>

  <!--flash設定-->
  <%= render "shared/flash" %>

  <!--News Release-->
  <%= render "public/top/tips/news" %>

  <!--About-->
  <%= render "public/top/tips/about" %>

   <!-- Nav tabs -->
    
  </div>
</div>

