<!--header設定-->
<%= render "shared/head" %>

<!--flash設定-->
<%= render "shared/flash" %>

<!--menu設定-->
<%= render "public/laboratories/tips/menu" %>

<!--Album New-->
<div class="background-orange">
  <div class="container general-form">
    <%= render "public/accesses/tips/form", title: "新規登録", path: public_laboratory_accesses_path(@set_laboratory.id) %>
  </div>
</div>