<!--About-->
  <div class="about">
    <div class="container">
      <div class="row">
        <i class="fas fa-2x fa-vial about-icon"></i>
        <h4>What is LABONITY ?</h3>
      </div>

      <div class="row">
        <p>LABONITYは「研究室」,「生徒」,「企業」の3つをつなぐプラットフォームを提供します。</p>
      </div>

      <!--card-->
      <div class="row card-index">

        <!--card 1-->
        <div class="card" style="width: 20rem;">
          <%= image_tag asset_path('about-card1'), class:"card-img-top" %>
          <div class="card-body">
            <h4 class="card-title">Easy set up a laboratory.</h4>
            <div class="card-text">
              <p>
                研究室のHP運営を簡単に。<br>
              </p>
              <ul>
                  <li>研究成果管理</li>
                  <li>メンバー管理</li>
                  <li>タイムカード機能</li>
                  <li>プレスリリース設定</li>
              </ul>
            </div>
            <a href="#" class="btn btn-default">研究室管理</a>
          </div>
        </div>
        <!--card 2-->
        <div class="card" style="width: 20rem;">
          <%= image_tag asset_path('about-card2'), class:"card-img-top" %>
          <div class="card-body">
            <h4 class="card-title">Record your research.</h4>
            <div class="card-text">
              <p>
                あなたの研究成果を記録に。<br>
              </p>
              <ul>
                  <li>論文管理</li>
                  <li>学会管理</li>
                  <li>勉強コミュニティ</li>
                  <li>データ管理</li>
              </ul>
            </div>
            <a href="#" class="btn btn-default">MyPage</a>
          </div>
        </div>

        <!--card 3-->
        <div class="card" style="width: 20rem;">
          <%= image_tag asset_path('about-card3'), class:"card-img-top" %>
          <div class="card-body">
            <h4 class="card-title">Connect with partners.</h4>
            <div class="card-text">
              <p>
                共同研究や就職先を探しに。<br>
              </p>
              <ul>
                  <li>共同研究先募集</li>
                  <li>研究室求人</li>
                  <li>企業求人</li>
                  <li>OB/OG</li>
              </ul>
            </div>
            <a href="#" class="btn btn-default">共同研究募集一覧</a>
          </div>
        </div>
      </div>
      
      <!--ログイン-->
      <div class="row">
        <div class="col-12 account-text">
          <p>これらの機能を使うためには今すぐ SIGNUP ！</p>
        </div>
        <div class="col-md-6 account-link">
          <a href="#" class="btn btn-primary btn-lg">個人の方はこちら</a>
        </div>
        <div class="col-md-6 account-link">
          <a href="#" class="btn btn-primary btn-lg">企業の方はこちら</a>
        </div>
      </div>
    </div>
  </div>