<!--News Release-->
<div class="container">
  <div class="row news">
    <i class="far fa-2x fa-newspaper news-icon"></i>
    <h4>News Release</h4>
    <div class="btn-show">
      <button class="btn btn-primary btn-round btn-sm", onclick="scrollToDownload()">一覧を見る</button>
    </div>
    <table class="table news-table">
      <tr>
        <th>LABONITY 開設のお知らせ</th>
        <td>2021/09/08</td>
      </tr>
      <tr>
        <th>LABONITY 開設のお知らせ2</th>
        <td>2021/09/08</td>
      </tr>
    </table>
  </div>
</div>