<div class="col-12 community-cards">
  <div class="card community-card col-5">
    <img class="card-img-top" src="/assets/public/Top/about-card1" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card community-card col-5">
    <img class="card-img-top" src="/assets/public/Top/about-card2" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
  <div class="card community-card col-5">
    <img class="card-img-top" src="/assets/public/Top/about-card3" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>
</div>
