<div class="col-12 search-nav-head">
  <i class="fab fa-2x fa-elementor search-icon"></i>
  <h3 class="search-title">Search</h3>
</div>

<div class="col-12 search-nav-main">
  <table>
    <tr>
      <td width="30%"><i class="fas fa-lg fa-vial"></i></td>
      <td><%= link_to "研究室を探す" , public_root_path, class:"search-link"%></td>
    </tr>
    
    <tr>
      <td><i class="fas fa-lg fa-building"></i></td>
      <td><%= link_to "企業を探す" , public_root_path, class:"search-link"%></td>
    </tr>
    
    <tr>
      <td><i class="fas fa-lg fa-address-card"></i></td>
      <td><%= link_to "求人を探す" , public_root_path, class:"search-link"%></td>
    </tr>
    
  </table>
</div>