<div class="col-12 timecard-head">
  <i class="fas fa-2x fa-map-signs timecard-title-icon"></i>
  <h3 class="timecard-title">TimeCard</h3>
</div>

<div class="col-12 timecard-main">
  <%= link_to public_root_path, class:"btn btn-primary" do %>
    <i class="far fa-2x fa-clock"> START</i>
  <% end %>
</div>

